---
import Hero from "../components/Hero.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Not Found" description="404 Error — this page was not found">
  <Hero title="Page Not Found" tagline="Not found" />
</BaseLayout>

<!-- <video width="480" height="620" autoplay muted loop playsinline>
          <source src="/assets/Love6.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video> -->
<!-- 
        <h3>What We Do</h3>
        <p style="font-size: 1.3rem;">
          We promote the holistic growth of your employees, enhancing well-being in
          every area of life. <br /><br />Our programs bring energy, harmony, and
          fulfillment to the workplace, helping your team thrive both personally and
          professionally. <br /><br />
          <b>Empower your team with a workplace that values their well-being!</b>
          <br />
        </p> -->

<!-- max-width: 85rem;
        align-self: center; -->

<!-- /** Icon links to social media — edit these with links to your profiles! */
const iconLinks: {
  label: string;
  href: string;
  icon: keyof typeof iconPaths;
}[] = [
  { label: "Twitter", href: "https://twitter.com/me", icon: "twitter-logo" },
  { label: "Twitch", href: "https://twitch.tv/me", icon: "twitch-logo" },
  { label: "GitHub", href: "https://github.com/me", icon: "github-logo" },
  { label: "CodePen", href: "https://codepen.io/me", icon: "codepen-logo" },
  { label: "dribbble", href: "https://dribbble.com/me", icon: "dribbble-logo" },
  {
    label: "YouTube",
    href: "https://www.youtube.com/@me/",
    icon: "youtube-logo",
  },
]; -->
